[flake8]
ignore = 
         E111,
         # Indent is not a multiple of four
         E302,
         # 2 blank lines rule
         E121
         # Wrong hanging indent

exclude = __init__.py, tests
max-line-length = 115
# I need to actually fix this problem :(
